# This repository was created and is maintained by Laura Farvour.
# At time of commit, all my code are belong to me. Future CODEOWNERS will be added as they contribute and share.

# IRL Contact Details
#
# Contributors or folks looking for assistance are welcome to leave an issue on the repository using the HELP template.
# 
# Folks may also connect and send a direct message by way of LinkedIn: linkedin.com/in/laurafarvour

* @lfarvour

# We all get better when we all get better